include *.txt
include LICENSE
recursive-include djangochurch_docs_theme *.conf
recursive-include djangochurch_docs_theme *.css
recursive-include djangochurch_docs_theme *.eot
recursive-include djangochurch_docs_theme *.html
recursive-include djangochurch_docs_theme *.js
recursive-include djangochurch_docs_theme *.svg
recursive-include djangochurch_docs_theme *.ttf
recursive-include djangochurch_docs_theme *.woff
